{{ define "main" }}
	<main>

		<div class="mt-10 mb-10 px-12 z-30 relative">

			<div class="flex flex-col gap-y-10">

			<div class="w-[50%] mx-auto">
			
				<img src="img/DSCF0389.jpg" class="" />

			</div>
			
			<div class="">
			We are Haider and Kas, artists from Kazakhstan who are both currently based in The Netherlands.</div>
			
			<div class="">
			In Kazakh ‘bulbul’ means ‘nightingale’ and it derives from Persian word for the same bird. 
			This bird is often part of the concept ‘gul-u bulbul’ (flower and nightingale), 
			which refers to the flower gardens and the nightingales in the love poetry of the Persianate world. 
			Modern-day pop songs in Central Asia, although using a contemporary Turkic vocabulary and sound, 
			still borrow their musical and lyrical inspirations from those traditions, which happened before the 
			Russo-Ottoman attempts to erase these Persianate influences. By further fleshing out these concepts 
			in an experimental way, both lyrically and sonically, Haider & Kas also focus on the homoerotic aspect 
			of those ghazals.</div>

			<div class="ml-10 mr-10 font-bold">
			“The composition of ghazals about roses and nightingales has resulted only in the corruption of the morals 
			of the young, leading them to booze and p*derasty.”</div>

			<div class="flex place-content-end">
			Mīrzā Āqā-khān Kirmānī, 1895/1896 </div>

		
			<div class="">
			Haider has a background in literature, philosophy, and graphic design. Combining graphic, sculptural and poetic mediums, 
			Haider tries to bring a ‘melancholic dreamscape’ vision into his art. He often draws influences from 
			historic Central Asian / Persianate poetry verses, folk myths and Sufi texts. He strives to express sensual 
			and spiritual transformations, the concept of ‘beauty’ and its destruction through his art.</div>

			<div class="">
			Kas’s background is in digital art and music composition, with a practice focused on connecting and 
			(re)interpreting visual and sonic aspects of migrant and diasporic experiences. 
			Kas’s current research interest is in synergising Central Asian musical rhythms and textures with approaches 
			employed in electronic music and algorithmic composition.</div>

			<div class="">
				This site's construction is still in progress. More posts and links will be shared soon.</div>

		</div></div>

		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
