{{ define "main" }}
	<main>

		<div class="mt-10 mb-10 px-12">
			
			We are Haider and Kas, artists from Kazakhstan who are both currently based in The Netherlands.
			As friends, we have discussed many times our shared interest in Central Asian musical and artistic traditions, and have long intended to work together on exploring it – this is the first time we are combining our efforts as a duo in a more focused way. We hope our individual interests and knowledge can support and enrich this shared project in their own way.
			Haider has a background in literature, philosophy, and graphic design. Combining graphic, sculptural and poetic mediums, Haider tries to bring a ‘melancholic dreamscape’ vision into his art. He often draws influences from historic Central Asian / Persianate poetry verses, folk myths and Sufi texts. He strives to express sensual and spiritual transformations, the concept of ‘beauty’ and its destruction through his art.
			Kas’s background is in digital art and music composition, with a practice focused on connecting and (re)interpreting visual and sonic aspects of migrant and diasporic experiences. Kas’s current research interest is in synergising Central Asian musical rhythms and textures with approaches employed in electronic music and algorithmic composition.
			

		</div>
		
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
